$color_important: #FF4343;
$color_active: #E71414;
$color_image_active: hsl(0, 88%, 39%, 0.8);
$color_image_hover: hsl(0, 84%, 49%, 0.8);
$color_bg: #fff;
$color_card_title: #2D3033;
$color_card-text: #6C7279;
$color_social: #C6CBCD;
$color_ready_content: #000000;
$color_footer: #353C65;
$color_copyright: #2C3154;
$color_copyright_text: #808080;

$fz_title-header: 64px;
$fz_section_title: 24px;
$fz_ready-title: 30px;
$fz_section_text: 18px;
$fz_social: 18px;
$fz_nav: 13px;

$fz_title-header_tablet: 48px;
$fz_section_title_adaptive: 18px;
$fz_ready-title_tablet: 24px;
$fz_section_text_adaptive: 14px;
$fz_social_adaptive: 15px;
$fz_nav_tablet: 12px;

$fz_title-header_mobile: 36px;
$fz_ready-titl_mobile: 18px;