.card-wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
}

.card-wrap:not(:last-child) {
    margin-bottom: 90px;
}

.card-inner {
    text-align: center;
    width: 370px;
}

.card-inner:not(:nth-child(2)) {
    margin: 0 15px;
}

.card-img {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 29px;
}

.fa-regular {
    font-size: 80px;
    color: $color_important
}

.fa-solid {
    font-size: 80px;
    color: $color_important
}

.card-title {
    text-transform: uppercase;
    font-family: "RaleWay";
    font-weight: 900;
    font-size: $fz_section_title;
    line-height: 72px;
    color: $color_card_title;
}

.card-text {
    font-family: "RaleWay";
    font-size: $fz_section_text;
    font-weight: 400;
    color: $color_card-text;
}