.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #BABBC5;
    margin-bottom: 130px;
}

.header-list {
    display: flex;
}

.header-list-item a:hover {
    border-bottom: 3px solid #BABBC5;
}

.header-list-item a:active {
    border-bottom: 3px solid #E71414;
    color: $color_active;
}

.header-list-item a {
    text-transform: uppercase;
    font-family: "RaleWay";
    font-size: $fz_nav;
    font-weight: bold;
    color: $color_bg;
    padding: 34px 20px;
    display: block;
    border-bottom: 3px solid transparent;
    transition: 0.5s;
}

.header-content {
    text-align: center;
}

.main-title {
    text-transform: uppercase;
    color: $color_bg;
    font-size: $fz_title-header;
    font-weight: 900;
    font-family: "RaleWay";
    margin-bottom: 30px;
}

.header-content-text {
    margin-bottom: 80px;
}

.text {
    color: $color_bg;
    font-size: $fz_section_title;
    font-weight: 400;
    font-family: "RaleWay";
    padding: 0 70px;
}

.header-content-button {
    @include buttons;
}