.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #BABBC5;
    margin-bottom: 130px;
    flex-wrap: wrap;
}

.header-list {
    display: flex;
    flex-wrap: wrap;
}

.header-list-item a:hover {
    border-bottom: 3px solid #BABBC5;
}

.header-list-item a:active {
    border-bottom: 3px solid #E71414;
    color: $color_active;
}

.header-list-item a {
    text-transform: uppercase;
    font-family: "RaleWay";
    font-size: $fz_nav;
    font-weight: bold;
    color: $color_bg;
    padding: 34px 20px;
    display: block;
    border-bottom: 3px solid transparent;
    transition: 0.5s;
}

.header-content {
    text-align: center;
}

.main-title {
    text-transform: uppercase;
    color: $color_bg;
    font-size: $fz_title-header;
    font-weight: 900;
    font-family: "RaleWay";
    margin-bottom: 30px;
}

.header-content-text {
    margin-bottom: 50px;
}

.text {
    color: $color_bg;
    font-size: $fz_section_title;
    font-weight: 400;
    font-family: "RaleWay";
    padding: 0 70px;
}

.header-content-button {
    @include buttons;
}

.burger {
    display: none;
}

@media (max-width:320px) {
    .main-title {
        font-size: 36px;
    }

    .header-content-text {
        width: 280px;
    }

    .text {
        padding: 0;
        font-size: 14px;
    }

    .header-content-button {
        width: 280px;
    }

    .img-active {
        width: 67.78px;
    }

    .img-box {
        width: 34px;
    }

    .burger {
        display: block;
        width: 55px;
        text-align: center;
        padding: 19px 0;
        margin-left: auto;
        position: relative;
    }

    .fa-solid.fa-bars {
        font-size: 24px;
        color: #fff;
        transition: 0.5s;
    }

    .fa-solid.fa-bars:active {
        font-size: 24px;
        color: #E71414;
    }

    .header-list {
        opacity: 0;
        position: absolute;
        top: 147%;
        left: 0;
        width: 100%;
        z-index: -1;
        display: block;
    }

    .header-logo {
        position: relative;
        display: block;
        border-bottom: none;
        margin-bottom: 50px;
    }

    .header-active-box {
        position: absolute;
        top: 21.39px;
        left: 0px;
    }

    .header-list-item a {
        padding: 26px 0;
        border-bottom: none;
    }

    .header-list-item a:hover {
        border-bottom: none;
    }

    .header-list-item a:active {
        border-bottom: none;
    }

    .header-content {
        transition: 1s;
        position: relative;
    }

    .active {
        opacity: 1;
        z-index: 1;
        transition: 2s;
    }

    .hidden {
        opacity: 0;
        z-index: -1;
    }
}