* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

@import "./cdn";
@import "./var";
@import "./mixins";
@import "./header.scss";
@import "./card.scss";
@import "./image.scss";
@import "./copyright.scss";
@import "./customers.scss";
@import "./footer.scss";
@import "./ready.scss";
@import "./slider.scss";




@font-face {
    font-family: "RaleWay";
    src: url("../fonts/Raleway-VariableFont_wght.ttf")
}

@font-face {
    font-family: "CardoItalic";
    src: url("../fonts/Cardo-Italic.ttf")
}

@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css";

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
    position: relative;
    z-index: 2;
}

.header {
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 120px;
}

.header::before {
    content: '';
    background-image: url("../img/banner-mask.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.card {
    background-color: #ffffff;
    padding: 100px 0;
}

.image {
    background-color: #ffffff;
    padding: 100px 0;
}

.customers {
    background-color: #fff;
    padding: 100px 0;
}

.ready {
    background-color: #fff;
    padding: 100px 0;

}

.footer {
    background-color: #353C65;
    padding: 71px 0;
}

.copyright {
    background-color: #2C3154;
    padding: 24px 0;
}

.slider {
    padding: 100px 0;
}

@media (max-width:1024px) {
    .container {
        max-width: 1014px;
    }
}

@media (max-width:320px) {
    .container {
        max-width: 310px;
    }
}