.swiper-wrapper {
    margin-bottom: 31px;
}

.swiper-slide {
    display: flex;
}

.img-slide-wrap {
    height: 490px;
    width: 50%;
}

.img-slide-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.slide-content-wrap {
    align-content: center;
    background-color: #5C3249;
    width: 50%;
}

.slide-text-wrap {
    width: 471px;
    margin: auto;
    margin-bottom: 32px;
}

.slide-author-wrap {
    width: 471px;
    margin: auto;
}

.slide-text {
    font-family: "CardoItalic";
    font-size: 36px;
    color: #fff;
    line-height: 50px;
    text-transform: capitalize;

}

.slide-text-author {
    text-transform: uppercase;
    font-family: "RaleWay";
    font-size: 13px;
    font-weight: 700;
    color: #fff;
}

.swiper-pagination {
    position: relative;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    width: 170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    background-color: transparent;
    border: 1px solid #5C3249;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #5C3249;
}

.bg_color {
    background-color: coral;
}

@media (max-width:1024px) {
    .img-slide-wrap {
        height: 332px;
    }

    .slide-text-wrap {
        width: 330px;
        margin-bottom: 27px;
    }

    .slide-author-wrap {
        width: 330px;
    }

    .slide-text {
        font-size: 24px;
        line-height: 39px;
    }

    .slide-text-author {
        font-size: 12px;
    }


    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        width: 150px;
    }

    .swiper-pagination-bullet {
        width: 9.49px;
        height: 9.49px;
    }

    .swiper-wrapper {
        margin-bottom: 24px;
    }

}

@media (max-width:320px) {
    .swiper-slide {
        display: block;
    }

    .slide-text-wrap {
        width: 275px;
        text-align: center;
        padding: 30px 0;
        margin: auto;
    }

    .slide-author-wrap {
        width: 275px;
        text-align: center;
    }

    .img-slide-wrap {
        height: 212px;
        width: 100%;
    }

    .slide-content-wrap {
        width: 100%;
        padding-bottom: 95px;
    }

    .slide-text {
        font-size: 24px;
        line-height: 40px;
    }

    .slide-text-author {
        font-size: 12px;
        line-height: 25px;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        width: 130px;
    }

    .swiper-pagination-bullet {
        width: 9.49px;
        height: 9.49px;
    }
}